.headerInfo a:link { 
    display: flex;
    text-decoration: none;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}

.dualButtons a:link {
    display: flex;
    text-decoration: none;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}

.pageInfo a:link {
    display: flex;
    text-decoration: none;
    color: #8fbc8f;
    justify-content: center;
    align-items: center;
}

.headerInfo a:visited{
    text-decoration: none;
    color: whitesmoke;
}

.dualButtons a:visited{
    text-decoration: none;
    color: whitesmoke;
}

.pageInfo a:visited{
    text-decoration: none;
    color: #8fbc8f;
}

a:hover{
    text-decoration: none;
}


.headerInfo a:active{
    text-decoration: none;
    text-decoration-color: whitesmoke;
    background-color: #4f7942;
}

.dualButtons p:active{
    text-decoration: none; 
    text-decoration-color: whitesmoke; 
    background-color: #679267;

}

h1, h2, h3, h4, h5, h6, h7{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.top {
    position: sticky; 
    top:0;
    z-index: 2;
}

.headerInfo {
    display: flex; 
    justify-content: space-between;
    width: 100%;
    height: 50px;
    text-decoration: none;
    background-color: #679267;
}

.headerInfo div{
    display:inline-block;
    justify-content:space-around;
    font-family:Arial, Helvetica, sans-serif;
    width:100%;
    border-left: 1px solid #FFFFF0;
    font-size: larger;
}

.headerInfo a{
    height: 100%;
}

.title{
    display:flex;
    justify-content:center;
    position: relative; 
    font-family:Arial, Helvetica, sans-serif;
    font-size: xx-large;
    padding-top: 30px;
    padding-bottom: 20px;
}

.pageName{
    z-index: 1; 
    background-color: white;
    padding-left: 10px; 
    padding-right: 10px;
}

.titleLine{
    position: absolute;
    width: 100%; 
}

.titleLine hr{
    color: #a3c1ad;
    background-color: #a3c1ad;
    border-color: #a3c1ad;
}

.pageInfo{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    width: 70%;
    padding: 10px;
    margin:auto;
    height: 100%;
    font-size:medium;
    border-bottom: 3px solid #a9ba9d;
}

.pageInfo h1{
    font-size:x-large;
    text-decoration:underline;
}

.pageInfo h2{
    font-size: large;
}

.pageInfo h3{
    font-size:medium;
    font-style:italic;
}

.pageInfo p{
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin:auto;
}

.pageInfo ul{
    display:flex;
    flex-direction:column; 
    align-items:center;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}

.pageInfo li{
    padding-right: 40px;
}

.pageInfo iframe{
    display:flex; 
    width: 100%;
}

#bio{
    display:flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

#bioInfo{
    display: flex; 
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    align-content: flex-end;
    width: 68%;
    padding: 10px;
    border-bottom: 3px solid #a9ba9d;
}

#bioInfo h1{
    color: #023020;
}

#photo{
    display: flex; 
    object-fit: contain;
    height: 100%;
    width: 50%;
}

#photo img{
    display:flex;
    height: 100%; 
    width: 100%; 
}

.dualButtons {
    display:flex;
    justify-content: space-around;
    width:30%;
    padding-bottom: 20px;
    margin:auto;
}

.dualButtons p{
    display:flex;
    padding-left: 15px; 
    padding-right: 15px; 
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:large;
    background-color:#8fbc8f; 
}

.name{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #FFF5EE;
}

.nameSS{
    color: #023020;
}


/*used to keep track of page color palatte*/ 
greens { 
    color: #679267; /*unselected header and selecting button*/
    color: #4f7942; /*selecting header*/
    color: #8fbc8f; /*unselected button and paragraph links*/
    color: #a9ba9d; /*search text (if kept) and end info border*/
    color: #a3c1ad; /*title line*/
    color: #023020; /*name and bio header*/
}

creams/whites { 
    color: #FFFFF0; /*header seperators*/
    color: #FFF5EE; /*name background*/
}